.display-block {
	display: block;
}

.modal-container {
	align-items: center;
	background: rgba(0, 0, 0, .5);
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.modal-options {
	align-items: center;
	background: white;
	border: 10px double #065F73;
	border-radius: 10px;
	box-shadow: 0 0 0 10px white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	left: 50%;
	margin-left: -160px;
	margin-top: -250px;
	padding: 40px 0px;
	position: absolute;
	text-align: center;
	top: 50%; 
	width: 320px;
	z-index: 4;
}

.modal-options fieldset {
	display: flex;
	flex-direction: column;
}

.modal-options .modal-form div {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.modal-form {
	width: 270px;
}

.modal-options .modal-form p {
	color: black;
	font-weight: bold;
	font-size: 18px;
}

.modal-form label {
	cursor: pointer;
	color: black;
	font-size: 17px;
}

.modal-form input[type=radio] {
	margin: 0;
}

.meat-option {
	text-transform: capitalize;
}

@media screen and (min-width: 500px) {
	.modal-form {
		width: 300px;
	}
	
	.modal-options {
		margin-left: -215px;
		margin-top: -250px!important;
		width: 430px;
	}
}