header {
  background-size: cover;
}

.form-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vh;
  padding: 15px;
  text-align: center;
}

.form-login input {
  background: #d0d0d033;
  border: none;
  border-radius: 12px;
  box-shadow: 15px 15px 21px 0px #886e5778;
  height: 55px;
  letter-spacing: 1px;
  margin: 10px;
  padding-left: 10px;
  width: 300px;
}

.form-login p {
  color: red;
}

.div-buttons-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

@media screen and (min-width: 700px){
  .form-login {
    margin-top: 10vh;
  }

	.form-login input {
    font-size: 15px;
    margin: 15px;
    padding-left: 15px;
    width: 360px;
  }
}

@media screen and (min-width: 850px){
  button {
    font-size: 16px;
    /* height: 65px;
    width: 170px; */
  }

  .form-login span {
    color: black;
    font-size: 20px;
    margin-top: 15px;
  }

  .form-login input {
    font-size: 18px;
    height: 70px;
    padding: 35px 0 35px 20px;
    width: 450px;
  }
}

@media screen and (min-width: 1300px){
  header {
    height: 100vh;
    width: 50vw;
  }

  .flex-row-desk {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
  }

  .flex-row-desk div {
    margin: 20px auto;
  }
}
