.confirm-request {
	background: white;
	border: 6px solid #518f9d;
	border-radius: 15px;
	box-shadow: 10px 25px 60px 0px #3b302762;
	margin: 0 auto;
	left: 50%;
	margin-left: -175px;
	margin-top: -175px;
	padding: 40px 0px;
	position: absolute;
	text-align: center;
	top: 50%; 
	width: 250px;
}

.confirm-request p {
	font-size: 40px;
	font-weight: bold;
}

.confirm-request p::after {
	content: "";
	display: block ;
	width: 100px;
	height: 3px;
	background: black;
	margin: 25px auto;
}

@media screen and (min-width: 500px) {
	.confirm-request {
		margin-left: -200px!important;
		margin-top: -200px!important;
		min-width: 410px;
		min-height: 410px;
	}

	.close-modal-only .close-modal {
    font-size: 20px;
    margin-right: -200px!important;
    margin-top: -190px!important;
	}
}