* {
    font-family: 'Comfortaa', cursive;
}

button {
	background: #45a9d2;
	border: none;
	border-radius: 35px;
	color: #FFF;
	cursor: pointer;
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	height: 55px;
	letter-spacing: 1px;
	margin: 15px;
	opacity: 0.7;
	text-transform: uppercase;
	transition: all 0.3s;
	width: 145px;
} 

button:hover {
	background: #45a9d2;
	color: #FFF;
	opacity: initial;
} 