.standard-btn {
	background: #313131;
	border: none;
	border-radius: 35px;
	color: #FFF;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	height: 55px;
	letter-spacing: 1px;
	margin: 15px;
	text-transform: uppercase;
	transition: all 0.3s;
	width: 145px;
} 

.standard-btn:hover {
	background: #45a9d2;
	color: #FFF;
	opacity: initial;
} 

@media screen and (min-width: 600px){
	.standard-btn {
		font-size: 16px;
	}
}