*{
	font-family: 'Comfortaa', cursive;
	letter-spacing: 2px;
}

.button-true {
	background: #065F73 !important;
}

.button-false {
	background: #313131 !important;
	opacity: 0.9;
}

.menu {
	color: white;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	margin-bottom: 25px;
	position: absolute;
	top: 360px;
	width: 100vw;
}

.bg-color {
	background: #065F73;
	border-radius: 10px;
	height: 70vh;
	margin: 55px 0;
}

.div-menu {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.buttons-options-menu {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	place-self: flex-start;
}

.buttons-options-menu button {
	background: #010d0f;
	border: 0px;
	border-radius: 25px 25px 0px 0px;
	box-shadow: 5px 10px 18px #888888;
	margin: 0px 0px 0px 10px;
	width: 135px;
}

.bg-color:first-child {
	margin: 0 auto;
}

.bg-color:first-child {
	border: 10px double white;
	height: 68vh;
	margin: 10px;
	overflow: auto;
}

.bg-color:first-child::-webkit-scrollbar {
	width: 1em;
}
	
.bg-color:first-child::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
	
.bg-color:first-child::-webkit-scrollbar-thumb {
	background-color: rgba(196, 209, 240, 0.25);
	outline: 1px solid rgb(255, 255, 255);
}

.menu-principal {
	margin: 0;
	/* overflow: auto; 					VOLTAR SE TIRAR A BORDA */
	width: 100vw; 
	z-index: 1;
}

.requests-quantity img {
	height: auto !important;
	width: 100%;
}

.option-menu-food {
	font-weight: bold;
}

.menu-titles {
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.border-menu {
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	height: 70vh;
	justify-content: space-around;
	margin-top: 0;
	padding: 10px;
}

.only-option-menu {
	cursor: pointer;
	margin: 5px 0px 15px 0px;
	text-align: center;
	width: 150px;
}

.only-option-menu img {
	border: transparent;
	border-radius: 15px;
	height: 100px;
	width: 100%;
}

.requests {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 62vh;
	justify-content: space-between;
	padding: 20px 10px 5px;
	width: 100vw;
}

.requests .title-request {
	font-size: 20px;
	text-align: center;
}

.confirm-order {
	background: #0b2b33;
	bottom: 0;
	margin: 0;
	position: absolute;
}

.divs-option-menu {
	margin-bottom: 20px;
}

.orders {
	display: flex;
	flex-direction: column;
	height: 45vh;
	overflow: auto;
	padding: 20px;
	white-space: pre-wrap;
	width: 100%;
}

.request-plus-minus {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	width: 100%;
}

.orders .request-plus-minus p {
	font-size: 16px;
	text-align: start;
}

.titles-container {
	margin: 20px;
	text-align: center;
	width: 100%;
}

.titles-container img {
	height: auto !important;
}

.div-btn-icons {
	align-items: center;
	display: flex;
	justify-content: space-between;
	height: 20px;
}

.div-btn-icons span {
	margin: 0px 5px;
}

.requests .icon-btn {
	background: none;
	border: none;
	display: flex;
	margin: 6px;
}

.icon {
	color: white;
	width: 20px;
}

.total {
	border-top: 1px solid white;
	bottom: 13vh;
	display: flex;
	flex-direction: column;
	padding: 10px 0px;
	position: absolute;
	width: 90%;
}

.total span {
	margin: 20px;
}

a.btn-order {
	align-items: center;
	border-radius: inherit;
	color: inherit;
	display: flex;
	height: inherit;
	justify-content: center;
} 


@media screen and (min-width: 450px) {
	.menu {
		flex-direction: row;
		top: 300px;
	}
	
	.menu-principal {
		width: 60vw; 
	}

	.border-menu {
		display: flex;
		justify-content: center;
		height: 85vh;
	}

	.only-option-menu img {
		height: 150px;
	}

	.only-option-menu {
		width: 185px;
	}

	.requests {
		width: 35vw;
	}

	
	.total {
		width: 30%;
	}

}

@media screen and (min-width: 650px){
	.border-menu {
		display: flex;
		justify-content: space-around;
		height: 85vh;
	}
}

@media screen and (min-width: 850px) {
	.menu {
    top: 350px;
	}

	.buttons-options-menu button {
		height: 50px;
    	width: 170px;
	}

	.requests.bg-color {
		margin: 50px 0;
	}

	.divs-option-menu {
		margin-right: 5px;
	}

	.only-option-menu { 
		width: 240px;
	}

	.menu img {
		height: 200px;
	}
}