body {
	font-family: 'Comfortaa', cursive;
}

.hall {
	background: url('../../assets/background.jpg') fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50vh;
}

.hall header {
	background: none!important;
	height: 30vh;
	width: 100%;
}

.hall button {
	margin: 0;
}

.header-hall img {
	width: 250px;
}

.hall .logo {
	left: 30px;
	top: 20px;
	width: 250px;
}

.buttons-option {
	display: flex;
	flex-direction: row;
	height: 60%;
	justify-content: space-evenly;
	margin: 20px 30px 0px;
}

.buttons-option button {
	font-size: 12px;
}


@media screen and (min-width: 450px) {
	.hall {
		display: flex;
		flex-direction: row;
	}

	.buttons-option {
		flex-direction: column;
	}

	.hall .logo {
		position: absolute;
	}

	
	.buttons-option button {
		font-size: 16px;
	}
}


@media screen and (min-width: 850px) {
	.hall .logo {
		left: 40px;
		top: 30px;
	}
}