.cork-titles {
  color: #2e2e2e;
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

.order-background {
	background: #ffe868;
	border-radius: 20px;
	box-shadow: 40px 38px 24px -10px #3b30273d;
	height: 135vh;
	justify-content: space-around;
  margin: 80px auto 25px;
  position: absolute;
  width: 85vw;
  top: 250px;
  left: 0;
  right: 0;
}

.border{
  align-items: center;
	border: 3px ridge #2e2e2e;
	border-radius: 20px;
	bottom: 20px;
  display: flex;
  flex-direction: column;
	left: 20px;
	position: absolute;
	right: 20px;
	top: 20px;
}

.cork-orders {
	text-align: center;
	width: 70vw;
}

.orders-wrap {
  display: flex;
  flex-wrap: wrap;
  height: 51vh;
  justify-content: center;
  overflow-y: auto;
}

.orders-wrap::-webkit-scrollbar {
  background-color: rgba(170, 160, 26, 0.466);
	width: 5px;
}

@media screen and (max-width: 320px) {
	.order-background {
    top: 220px;
  }
}

@media screen and (min-width: 600px){
  .orders-wrap {
    height: 57vh;
  }

  .order-background {
    display: flex;
    height: 75vh;
    margin: 55px auto 25px;
    top: 250px;
  }
  
  .border{
    flex-direction: row;
  }

  .cork-titles {
    color: #2e2e2e;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
  }
}

@media screen and (min-width: 1024px){
  .order-background {
    top: 250px;
    width: 990px;    
  }
}

@media screen and (min-width: 1300px){
  .order-background {
    width: 75vw;    
  }
}