/* .close-modal {
   align-items: center;
   background: red;
   display: flex;
   height: 30px;
   justify-content: center;
   margin-right: -175px;
   margin-top: -175px;
   padding: 20px 0px;
   position: absolute;
   right: 50%;
   top: 50%;
   width: 30px;
   z-index: 1;
}

@media screen and (min-width: 500px) {
   .close-modal {
     margin-right: -250px!important;
     margin-top: -250px!important;
   }
 } */