.page-requests {
	background: url('../../assets/background.jpg') fixed;
	display: flex;
	background-size: cover;
	height: 50vh;
}

.page-requests header {
	background: none!important;
	display: block;
	height: 30vh;
	width: 100%;
}

.page-requests .logo-login {
	width: 215px;
}

.back-to-hat {
	position: absolute;
	right: 1px;
	top: 0;
}

.back-to-hat img {
	width: 60px;
	margin-right: -170px;
	margin-top: 70px;
	margin-bottom: 10px;
	position: relative;
	z-index: 5;
}

.back-to-hat button {
	background: black;
}

@media screen and (min-width: 600px) {
	.page-requests {
		align-items: flex-start;
		display: flex;
		flex-direction: row;
	}

	.back-to-hat {
		right: 40px;
	}
}

@media screen and (min-width: 700px){
	.page-requests .logo-login {
		left: 30px;
		position: absolute;
		top: 20px;
		width: 240px;
	}
}

@media screen and (min-width: 850px){
	.page-requests .logo-login {
		left: 40px;
		top: 30px;
	}
}