.back-to-hat img {
	display: none;
}

.entregue {
	background: #272727;
	color: white;
}

.time {
	margin-top: 8px;
}

@media screen and (min-width: 600px) {
	.back-to-hat img {
		display: block;
		position: absolute;
		right: 0;
		top: -23px;
		width: 60px;
		z-index: 5;
	}
}