header {
	align-items: center;
	background-size: cover;
	background: url('../../assets/background.jpg') fixed;
	display: flex;
	height: 50vh;
	justify-content: center;
	padding: 10px 0;
	width: 100%;
}

.logo-login {
	width: 300px;
}

@media screen and (min-width: 700px){
	header {
		height: 40vh;
	}

	/* .logo-login { */
		/* height: 395px; */
		/* width: 415px;
	} */
}

@media screen and (min-width: 850px){
	.logo-login {
		width: 400px;
	}
}

@media screen and (min-width: 1300px){
	header {
		background-size: cover;
	}

	.logo-login {
		width: 515px;
	}
}