body {
	font-family: 'Comfortaa', cursive;
}

body::-webkit-scrollbar {
	width: 1em;
}
	
body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
	
body::-webkit-scrollbar-thumb {
	background-color: rgba(30, 80, 200, 0.25);
	outline: 1px solid slategrey;
}

.kitchen {
	background: url('../../assets/background.jpg') fixed;
	display: flex;
	background-size: cover;
	height: 50vh;
}

.kitchen header {
	background: none!important;
	height: 30vh;
	width: 100%;
}

.preparing-order {
	text-align: center;
	width: 50vw;
}

.ready-order {
	text-align: center;
	width: 50vw;
}

.divs-orders {
	background: white;
	border-radius: 10px;
	font-size: 25px;
	height: 250px;
	margin: 0 0 40px 40px;
	padding: 15px;
	width: 200px;
}

.p-orders {
	font-size: 16px;
}


@media screen and (min-width: 700px){
	.kitchen-hall img {
		width: 250px;
	}
	
	.kitchen .logo-login {
		left: 30px;
		position: absolute;
		top: 20px;
		width: 250px;
	}
	
	.kitchen button {
		font-size: 16px;
	}
	
	.exit-btn {
		display: flex;
		flex-direction: column;
		height: 60%;
		justify-content: space-evenly;
		margin: 0 30px;
	}
}

@media screen and (min-width: 850px){
	.kitchen .logo-login {
		left: 40px;
		top: 30px;

	}
}