body {
	font-family: 'Comfortaa', cursive;
}

.kitchen {
	background: url('../../assets/background.jpg') fixed;
	display: flex;
	background-size: cover;
	height: 50vh;
}

.kitchen header {
	background: none!important;
	height: 30vh;
	width: 100%;
}

.preparing-order {
	text-align: center;
	width: 50vw;
}

.ready-order {
	text-align: center;
	width: 50vw;
}

.divs-orders {
	background: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	font-size: 25px;
	justify-content: space-between;
	height: 250px;
	margin: 0 0 40px 40px;
	overflow-y: scroll;
	padding: 15px;
	width: 200px;
}

.divs-orders::-webkit-scrollbar {
	background-color: rgba(170, 160, 26, 0.466);
	width: 5px;
}

.divs-orders button {
	background: rgb(33, 112, 33);

	height: 40px;
	width: 100px;
}

.divs-orders .p-orders {
	font-size: 16px;
	margin-top: 5px;
	text-align: start;
}

.divs-orders .p-orders:nth-child(1) {
	font-size: 16px;
	margin-top: 5px;
	text-align: center;
}


@media screen and (min-width: 700px){
	.kitchen-hall img {
		width: 250px;
	}
	
	.kitchen .logo-login {
		left: 30px;
		position: absolute;
		top: 20px;
		width: 250px;
	}
	
	.kitchen button {
		font-size: 16px;
	}
	
	.exit-btn {
		display: flex;
		flex-direction: column;
		height: 60%;
		justify-content: space-evenly;
		margin: 0 30px;
	}
}

@media screen and (min-width: 850px){
	.kitchen .logo-login {
		left: 40px;
		top: 30px;

	}
}