* {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 1.5px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

fieldset {
	border: none;
	margin-bottom: 40px;
}

svg {
	color: #313131;
}

#root {
  width: 100vw;
}

.header {
	height: 300px;
	position: absolute;
}

.header .logo {
	position: absolute;
	top: 0;
	width: 200px;
}

.buttons-option {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	position: relative;
	top: 200px;
}

.buttons-option button {
	font-size: 12px;
}

.error-msg {
	color: red !important;
	font-weight: bold;
	margin-top: 15px;
}

.modal-config {
	background: white;
	margin: 0 auto;
	left: 50%;
	margin-left: -175px;
	margin-top: -200px;
	padding: 40px 0px;
	position: absolute;
	text-align: center;
	top: 50%; 
	width: 350px;
}

.table-number {
	align-items: center;
	background: #313131;
	border-radius: 10px 10px 0 0;
	color: white;
	display: flex;
	height: 50px;
	justify-content: center;
	left: -15px;
	position: relative;
	top: -15px;
	width: 235px;
}

@media screen and (max-width: 320px) {
	.header {
		height: 280px;
	}

	.buttons-option {
		top: 195px;
	}
}

@media screen and (min-width: 600px) {
	.header {
		height: 430px;
		width: 100vw;
	}
	
	.header .logo {
		left: 30px;
		top: 30px;
    	width: 240px;
	}

	.buttons-option {
		flex-direction: column;
		position: absolute;
		right: 30px;
		top: 5vh !important;
	}

	.buttons-option button {
		font-size: 15px;
	}
	
	.table-number {
		width: 200px;
	}
}

@media screen and (min-width: 850px) {
	.buttons-option {
		top: 30px;
	}
}

@media screen and (min-width: 850px) {
	.header .logo {
		width: 230px;
	}
}